In [3]:
import pandas as pd

In [4]:
movies = pd.read_csv("https://raw.githubusercontent.com/abulbasar/data/master/movielens/movies.csv")

In [5]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
ratings = pd.read_csv("https://raw.githubusercontent.com/abulbasar/data/master/movielens/ratings.csv")

In [7]:
movies.shape

(9125, 3)

In [10]:
ratings.shape

(100004, 4)

In [11]:
movies[movies.title.str.contains("Godfather")]

      movieId                            title                        genres
695       858            Godfather, The (1972)                   Crime|Drama
977      1221   Godfather: Part II, The (1974)                   Crime|Drama
1585     2023  Godfather: Part III, The (1990)  Crime|Drama|Mystery|Thriller
5470     8607          Tokyo Godfathers (2003)     Adventure|Animation|Drama

In [17]:
movies[movies.title.str.contains("Godfather")].movieId.values[0]

858

In [13]:
agg = ratings.groupby("movieId").rating.agg(["count", "mean"])
agg.head()

         count      mean
movieId
1          247  3.872470
2          107  3.401869
3           59  3.161017
4           13  2.384615
5           56  3.267857

In [14]:
agg.loc[858,:]

count    200.0000
mean       4.4875
Name: 858, dtype: float64

In [21]:
top10 = agg.query("count>100")\
.sort_values("mean", ascending = False).iloc[:10,:]
top10

         count      mean
movieId
858        200  4.487500
318        311  4.487138
1221       135  4.385185
50         201  4.370647
527        244  4.303279
1193       144  4.256944
608        224  4.256696
296        324  4.256173
2858       220  4.236364
58559      121  4.235537

In [22]:
top10.merge(movies, on = "movieId")

,movieId,count,mean,title,genres
0,858,200,4.487500,"Godfather, The (1972)",Crime|Drama
1,318,311,4.487138,"Shawshank Redemption, The (1994)",Crime|Drama
2,1221,135,4.385185,"Godfather: Part II, The (1974)",Crime|Drama
3,50,201,4.370647,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
4,527,244,4.303279,Schindler's List (1993),Drama|War
5,1193,144,4.256944,One Flew Over the Cuckoo's Nest (1975),Drama
6,608,224,4.256696,Fargo (1996),Comedy|Crime|Drama|Thriller
7,296,324,4.256173,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
8,2858,220,4.236364,American Beauty (1999),Drama|Romance
9,58559,121,4.235537,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX