In [2]:
print("hello world!!!")

hello world!!!

In [4]:
x = 1

In [5]:
type(x)

int

In [6]:
x = 1.2
type(x)

float

In [7]:
x = "hello"

In [8]:
type(x)

str

In [9]:
type(x) is int

False

In [10]:
type(x) is str

True

In [11]:
x = 10

In [12]:
x = x + 20
x

30

In [18]:
x = "30"
y = int(x)
type(y)

int

In [19]:
x = [1, 5, 6, 0, -1, 4]
type(x)

list

In [20]:
x = [1, 5, 6, 0, -1, 4]
len(x)

6

In [22]:
x = [1, 5, 6, 0, -1, 4]
x[0], x[4]

(1, -1)

In [23]:
x = [1, 5, 6, 0, -1, 4]
x[-1]

4

In [24]:
x = [1, 5, 6, 0, -1, 4]
x[-2]

-1

In [26]:
x = [1, 5, 6, 0, -1, 4]
x[2:4]

[6, 0]

In [28]:
x = [1, 5, 6, 0, -1, 4, 7, 0, 3, 13]
x[-4:-2]

[7, 0]

In [29]:
x = [1, 5, 6, 0, -1, 4]
x[2:100]

[6, 0, -1, 4]

In [31]:
x = [1, 5, 6, 0, -1, 4]
x[4:2]

[]

In [32]:
x = [1, 5, 6, 0, -1, 4]
x[0:3]

[1, 5, 6]

In [33]:
x = [1, 5, 6, 0, -1, 4]
x[:3]

[1, 5, 6]

In [34]:
x = [1, 5, 6, 0, -1, 4]
x[0:10:2]

[1, 6, -1]

In [35]:
x = [1, 5, 6, 0, -1, 4]
x[::2]

[1, 6, -1]

In [36]:
x = [1, 5, 6, 0, -1, 4]
x[::-1]

[4, -1, 0, 6, 5, 1]

In [37]:
x = [1, 5, 6, 0, -1, 4]
x.append(100)
x

[1, 5, 6, 0, -1, 4, 100]

In [39]:
x = [1, 5, 6, 0, -1, 4]
x.insert(1, 100)
x

[1, 100, 5, 6, 0, -1, 4]

In [42]:
x = [1, 5, 6, 1, 0, -1, 4]
x.remove(1)
x

[5, 6, 1, 0, -1, 4]

In [43]:
x = [1, 5, 6, 1, 0, -1, 4]
1 in x

True

In [45]:
x = [1, 5, 6, 1, 0, -1, 4]
x.index(5), x.index(100)

ValueError: 100 is not in list

In [46]:
x = [1, 5, 6, 1, 0, -1, 4]
del x[3]
x

[1, 5, 6, 0, -1, 4]

In [47]:
x = [1, 5, 6, 1, 0, -1, 4]
x[4] = 100
x

[1, 5, 6, 1, 100, -1, 4]

In [48]:
x = [1, "four", 3.4]
x

[1, 'four', 3.4]

In [49]:
x = list()

In [50]:
x = []

In [54]:
x = [1, 5, 6, 1, 0, -1, 4]
x.sort(reverse=True)
x

[6, 5, 4, 1, 1, 0, -1]

In [56]:
x = [1, 5, 6, 1, 0, -1, 4]
y = sorted(x, key = lambda v: v)
x, y

([1, 5, 6, 1, 0, -1, 4], [-1, 0, 1, 1, 4, 5, 6])

In [57]:
x = dict(a = "apple", b = "banana", c = "cake")
x

{'a': 'apple', 'b': 'banana', 'c': 'cake'}

In [59]:
x = {"a": "apple", "b": "banana", "c": "cake", "d e": "duck"}
x

{'a': 'apple', 'b': 'banana', 'c': 'cake', 'd e': 'duck'}

In [60]:
x = dict(a = "apple", b = "banana", c = "cake")
len(x)

3

In [61]:
x = dict(a = "apple", b = "banana", c = "cake", d = None)
len(x)

4

In [63]:
x = {"a": "apple", "b": "banana", "c": "cake", None: "duck"}
x

{'a': 'apple', 'b': 'banana', 'c': 'cake', None: 'duck'}

In [64]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x["a"]

'apple'

In [65]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x["e"]

KeyError: 'e'

In [67]:
x = {"a": "apple", "b": "banana", "c": "cake"}
"e" in x, "a" in x

(False, True)

In [69]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x.get("a"), x.get("e"), x.get("e", "unknown")

('apple', None, 'unknown')

In [70]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x.keys()

dict_keys(['a', 'b', 'c'])

In [71]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x.values()

dict_values(['apple', 'banana', 'cake'])

In [72]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x.items()

dict_items([('a', 'apple'), ('b', 'banana'), ('c', 'cake')])

In [73]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x["d"] = "duck"
x

{'a': 'apple', 'b': 'banana', 'c': 'cake', 'd': 'duck'}

In [74]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x["d"] = "duck"
del x["a"]
x

{'b': 'banana', 'c': 'cake', 'd': 'duck'}

In [75]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x["a"] = "apollo"
x

{'a': 'apollo', 'b': 'banana', 'c': 'cake'}

In [76]:
x = set([1, 6, 6, 6, 9])
x

{1, 6, 9}

In [77]:
x = {1, 6, 6, 6, 9}
x

{1, 6, 9}

In [78]:
x = {}
type(x)

dict

In [81]:
x = set()
x.add(3)
type(x), x

(set, {3})

In [83]:
x = set()
x.add(6)
x.add(1)
x.add(6)
x.add(7)
x.add(8)
list(x)

[8, 1, 6, 7]

In [85]:
x = tuple([1, 5, -1, 8])
x

(1, 5, -1, 8)

In [86]:
x = tuple([1, 5, -1, 8])
x.add(4)

AttributeError: 'tuple' object has no attribute 'add'

In [89]:
x = (1, 5, -1, 8)
type(x), x[0], x[-2]

(tuple, 1, -1)

In [90]:
list(x)

[1, 5, -1, 8]

In [95]:
with open(r"/data/stocks.small.csv") as f:
    content = f.read()
    
lines = content.split("\n")

In [117]:
x = "hello world, welcome to the class"

In [101]:
len(x)

33

In [102]:
x.split(" ")

['hello', 'world,', 'welcome', 'to', 'the', 'class']

In [104]:
x.upper().lower()

'hello world, welcome to the class'

In [115]:
def add(x, y):
    print(x)
    print(y)
    return x + y
add(3, 4)

3
4

7

In [118]:
with open(r"/data/stocks.small.csv") as f:
    content = f.read()
    
lines = content.split("\n")

In [119]:
len(lines)

1848

In [120]:
lines[:3]

['date,open,high,low,close,volume,adjclose,symbol',
 '2000-07-18,144.8125,144.828125,141.4375,143.0,5.06836E7,50.155473,INTC',
 '2000-07-20,32.93751,34.25001,32.8125,33.75,3288300.0,8.789734,BEN']

In [123]:
count = 0
for line in lines[1:]:
    if len(line)>0:
        count = count + 1

In [124]:
count

1846

In [126]:
data = [line for line in lines[1:] if len(line)> 0]
len(data)

1846

In [135]:
sum([1 for line in lines[1:] if len(line)> 0])

1846

In [137]:
sum([1 if len(line)>0 else 0 for line in lines[1:]])

1846

In [128]:
data[:3]

['2000-07-18,144.8125,144.828125,141.4375,143.0,5.06836E7,50.155473,INTC',
 '2000-07-20,32.93751,34.25001,32.8125,33.75,3288300.0,8.789734,BEN',
 '2000-07-24,64.25,67.312477,64.187523,64.75,948800.0,7.689567,APH']

In [129]:
lines[0]

'date,open,high,low,close,volume,adjclose,symbol'

In [130]:
symbols = set()
for line in data:
    tokens = line.split(",")
    symbol = tokens[-1]
    symbols.add(symbol)

In [132]:
len(symbols)

471

In [133]:
symbols = set([line.split(",")[-1] for line in data])

In [134]:
len(symbols)

471

In [138]:
count_by_symbol = dict()
for line in data:
    tokens = line.split(",")
    symbol = tokens[-1]
    count = count_by_symbol.get(symbol, 0)
    count += 1
    count_by_symbol[symbol] = count

In [145]:
count_by_symbol.items()

dict_items([('INTC', 4), ('BEN', 6), ('APH', 3), ('SHW', 5), ('STJ', 3), ('GGP', 5), ('SBUX', 6), ('EQT', 7), ('BCR', 6), ('NKE', 8), ('IPG', 5), ('EXC', 4), ('BXP', 5), ('BIIB', 7), ('DD', 1), ('NUE', 8), ('ALK', 7), ('COG', 6), ('ETN', 8), ('DO', 5), ('BSX', 4), ('UPS', 11), ('ENDP', 5), ('WBA', 4), ('PXD', 4), ('STI', 5), ('FDX', 6), ('LLTC', 3), ('RHT', 6), ('O', 5), ('RAI', 5), ('BWA', 4), ('FLIR', 9), ('MET', 5), ('XLNX', 6), ('FCX', 4), ('FOX', 4), ('EMC', 3), ('RHI', 3), ('FISV', 3), ('CINF', 7), ('AGN', 5), ('IP', 7), ('KSS', 5), ('EBAY', 3), ('CMS', 7), ('TROW', 5), ('KR', 9), ('R', 6), ('PNC', 5), ('ED', 7), ('KEY', 1), ('USB', 2), ('MCO', 5), ('HES', 3), ('RCL', 1), ('HON', 3), ('REGN', 5), ('FLR', 3), ('MSI', 3), ('ISRG', 5), ('MYL', 5), ('LEG', 6), ('MOS', 6), ('WMT', 8), ('HD', 3), ('COF', 9), ('MLM', 6), ('ADBE', 2), ('OKE', 5), ('SRE', 3), ('CTAS', 4), ('MMC', 6), ('FMC', 8), ('LLL', 4), ('VMC', 4), ('SLB', 3), ('LRCX', 5), ('SCG', 5), ('SYK', 4), ('BLL', 3), ('CERN', 3), ('ECL', 3), ('HST', 4), ('GILD', 4), ('XL', 3), ('CTXS', 4), ('AIV', 3), ('GLW', 5), ('GE', 7), ('SJM', 5), ('LLY', 7), ('DE', 6), ('HUM', 7), ('EMN', 4), ('F', 3), ('COH', 4), ('MRK', 7), ('PGR', 5), ('AMZN', 7), ('OXY', 4), ('DTE', 4), ('ATVI', 3), ('YUM', 6), ('YHOO', 5), ('NTRS', 5), ('SLG', 6), ('MTB', 7), ('COL', 2), ('GS', 2), ('CNP', 3), ('IFF', 8), ('ETFC', 4), ('MU', 7), ('MKC', 6), ('EA', 3), ('CCL', 6), ('LMT', 4), ('AIG', 5), ('SWK', 5), ('HCP', 5), ('DGX', 5), ('M', 6), ('NEM', 7), ('HOLX', 5), ('LNC', 7), ('CA', 6), ('CCI', 3), ('NFX', 7), ('PHM', 9), ('BBBY', 7), ('EXPD', 6), ('PEG', 6), ('KMB', 8), ('CTSH', 2), ('CAT', 5), ('XRAY', 5), ('PBI', 4), ('BMY', 7), ('WAT', 7), ('CNC', 3), ('UNH', 4), ('SWN', 5), ('DVN', 4), ('VZ', 7), ('DOV', 4), ('SRCL', 1), ('HRS', 4), ('EQR', 5), ('CELG', 3), ('STT', 4), ('JNJ', 8), ('AEE', 4), ('D', 9), ('HSIC', 2), ('CL', 3), ('SCHW', 7), ('AZO', 3), ('MDT', 6), ('ALB', 5), ('PCAR', 3), ('ESS', 4), ('PPL', 4), ('PPG', 8), ('RRC', 4), ('PDCO', 4), ('ROST', 1), ('LH', 2), ('PVH', 6), ('PFG', 6), ('HBAN', 2), ('AMGN', 4), ('APC', 7), ('TSN', 4), ('XRX', 1), ('TYC', 2), ('VRSN', 6), ('HPQ', 6), ('ADM', 6), ('GPN', 5), ('K', 10), ('ADI', 6), ('CHRW', 3), ('WHR', 5), ('JPM', 6), ('TXT', 4), ('PNW', 4), ('MAR', 4), ('SIG', 8), ('AME', 6), ('WY', 3), ('HP', 4), ('WMB', 5), ('ABT', 6), ('AYI', 5), ('AXP', 3), ('AON', 5), ('DOW', 4), ('ORCL', 1), ('CVX', 5), ('PRU', 2), ('WM', 6), ('PCLN', 2), ('HRB', 2), ('GRMN', 5), ('AES', 7), ('ACN', 2), ('MCD', 2), ('AEP', 3), ('LNT', 3), ('CHK', 5), ('MHK', 3), ('STX', 2), ('CLX', 3), ('NBL', 5), ('ROP', 5), ('KSU', 5), ('DRI', 4), ('EOG', 6), ('CSX', 4), ('DHI', 5), ('CTL', 3), ('RSG', 3), ('EL', 4), ('URI', 2), ('MNST', 4), ('MON', 4), ('TIF', 3), ('BBY', 4), ('BK', 5), ('HAR', 7), ('VLO', 2), ('FTR', 6), ('WDC', 7), ('ROK', 6), ('QCOM', 4), ('BAX', 4), ('MCK', 3), ('FFIV', 4), ('EFX', 3), ('HIG', 3), ('AMAT', 3), ('MSFT', 5), ('AMT', 4), ('ILMN', 5), ('BLK', 5), ('AKAM', 4), ('TSO', 3), ('XOM', 3), ('EW', 2), ('MDLZ', 3), ('LUV', 3), ('IVZ', 4), ('GT', 4), ('LKQ', 4), ('SWKS', 5), ('FE', 2), ('UNP', 5), ('WEC', 2), ('VTR', 6), ('MMM', 2), ('ES', 4), ('CI', 4), ('JWN', 3), ('TSS', 2), ('ESRX', 2), ('ZBH', 11), ('MAS', 5), ('LUK', 5), ('WYNN', 6), ('AA', 5), ('SYY', 7), ('JBHT', 3), ('BBT', 3), ('AET', 5), ('MO', 2), ('PLD', 4), ('EMR', 2), ('CHD', 6), ('AIZ', 4), ('ALL', 3), ('C', 4), ('TRV', 3), ('DLTR', 3), ('GWW', 4), ('APA', 4), ('DLR', 6), ('TAP', 3), ('PG', 5), ('EQIX', 4), ('IR', 3), ('PCG', 4), ('PSA', 6), ('SYMC', 3), ('NTAP', 1), ('WFM', 3), ('ADSK', 4), ('MRO', 3), ('CRM', 3), ('RL', 7), ('DVA', 7), ('KLAC', 4), ('NRG', 2), ('ETR', 5), ('LOW', 5), ('URBN', 6), ('SO', 5), ('CB', 3), ('DUK', 3), ('EXR', 8), ('TMO', 5), ('DNB', 3), ('VRTX', 2), ('NFLX', 2), ('AVB', 4), ('AFL', 3), ('OI', 1), ('CMCSA', 1), ('CAH', 5), ('UHS', 3), ('GOOGL', 1), ('VIAB', 4), ('APD', 4), ('HOT', 3), ('HOG', 4), ('CMI', 8), ('HAL', 3), ('BA', 4), ('GD', 5), ('PX', 7), ('CBS', 3), ('FLS', 4), ('ANTM', 2), ('GPS', 3), ('UTX', 4), ('PFE', 3), ('FOXA', 7), ('NSC', 4), ('KMX', 3), ('XEL', 2), ('ITW', 4), ('AAP', 5), ('EIX', 6), ('AAL', 1), ('TXN', 1), ('INTU', 1), ('MS', 5), ('JNPR', 2), ('AAPL', 3), ('VFC', 2), ('HBI', 1), ('WYN', 5), ('MAT', 2), ('A', 2), ('DHR', 1), ('RF', 2), ('TGNA', 6), ('IBM', 3), ('WFC', 7), ('JCI', 2), ('STZ', 4), ('SPLS', 4), ('MAC', 4), ('TDG', 3), ('UDR', 3), ('WU', 2), ('NI', 4), ('COP', 4), ('SNA', 4), ('TGT', 5), ('XEC', 3), ('GPC', 3), ('DIS', 3), ('HRL', 3), ('VNO', 3), ('IRM', 3), ('PBCT', 5), ('PRGO', 5), ('NOV', 4), ('FAST', 1), ('FL', 4), ('FTI', 2), ('VAR', 3), ('NVDA', 1), ('PEP', 3), ('NWL', 4), ('OMC', 1), ('FRT', 4), ('SE', 3), ('FSLR', 5), ('DFS', 3), ('LM', 2), ('BDX', 2), ('CVS', 2), ('COST', 1), ('HCN', 2), ('AWK', 4), ('GOOG', 3), ('HAS', 3), ('NOC', 3), ('CF', 2), ('TDC', 1), ('MJN', 2), ('AVGO', 3), ('ICE', 2), ('LB', 5), ('FIS', 2), ('TJX', 3), ('RTN', 4), ('CAG', 2), ('ULTA', 1), ('DAL', 2), ('ALXN', 1), ('LYB', 3), ('ABC', 2), ('BAC', 2), ('TEL', 2), ('EXPE', 2), ('ZION', 2), ('UNM', 2), ('ORLY', 2), ('DG', 3), ('CMG', 1), ('MA', 2), ('UAL', 2), ('GIS', 3), ('DISCK', 1), ('CPB', 3), ('L', 1), ('V', 2), ('HSY', 2), ('CXO', 3), ('XYL', 2), ('CSCO', 2), ('AMP', 2), ('UA', 1), ('PNR', 1), ('TWX', 1), ('ADS', 3), ('MUR', 1), ('T', 1), ('PSX', 2), ('KORS', 1), ('SNI', 3), ('GM', 2), ('FBHS', 3), ('KIM', 3), ('PM', 1), ('PKI', 3), ('HCA', 2), ('TSCO', 1), ('SEE', 1), ('FB', 1), ('CME', 1), ('ADP', 1), ('LEN', 2), ('TRIP', 1), ('MPC', 1), ('VRSK', 1), ('LVLT', 1), ('NWS', 2), ('JEC', 3), ('CBG', 1), ('RIG', 1), ('SPGI', 1), ('CMA', 1), ('AMG', 2), ('PWR', 1), ('WRK', 1), ('ALLE', 1), ('MNK', 1)])

In [143]:
sorted(count_by_symbol.items(), key = lambda t: t[1], reverse=True)[:3]

[('UPS', 11), ('ZBH', 11), ('K', 10)]

In [146]:
lines[0]

'date,open,high,low,close,volume,adjclose,symbol'

In [148]:
volumes_by_symbol = dict()

for line in data:
    tokens = line.split(",")
    symbol = tokens[-1]
    volume = float(tokens[5])
    if symbol not in volumes_by_symbol:
        volumes_by_symbol[symbol] = list()
    
    values = volumes_by_symbol[symbol]
    values.append(volume)

In [150]:
avg_volume_by_symbol = dict()
for symbol in volumes_by_symbol:
    values = volumes_by_symbol[symbol]
    avg_volume_by_symbol[symbol] = sum(values)/len(values)

In [154]:
avg_volume_by_symbol["BAC"], avg_volume_by_symbol["AAPL"]

(185000000.0, 166366233.33333334)

In [155]:
data[:3]

['2000-07-18,144.8125,144.828125,141.4375,143.0,5.06836E7,50.155473,INTC',
 '2000-07-20,32.93751,34.25001,32.8125,33.75,3288300.0,8.789734,BEN',
 '2000-07-24,64.25,67.312477,64.187523,64.75,948800.0,7.689567,APH']

In [156]:
from datetime import datetime

In [158]:
d = datetime.strptime("2019-07-22", "%Y-%m-%d")

In [159]:
d

datetime.datetime(2019, 7, 22, 0, 0)

In [162]:
d.isoweekday()

1

In [167]:
day_of_trading = [line.split(",")[0] for line in data]
day_of_trading = [datetime.strptime(value, "%Y-%m-%d") for value in day_of_trading]
day_of_trading = [value.isoweekday() for value in day_of_trading]
day_of_trading[:3]

[2, 4, 1]

In [168]:
from collections import Counter

In [175]:
count_by_day = Counter(day_of_trading)
count_by_day

Counter({2: 348, 4: 374, 1: 361, 3: 393, 5: 370})

In [170]:
x = range(10)
x

range(0, 10)

In [171]:
list(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [174]:
def is_prime(v):
    pass

In [173]:
count = 0
x = 2
while count < 10:
    if is_prime(x):
        count += 1
    x += 1

0
1
2
3
4
5
6
7
8
9

In [177]:
with open("/tmp/count.txt", "w") as f:
    for t in count_by_day.items():
        f.write("{0},{1}\n".format(t[0], t[1]))

In [178]:
import json

In [180]:
json.dumps(count_by_day,indent=True)

'{\n "2": 348,\n "4": 374,\n "1": 361,\n "3": 393,\n "5": 370\n}'

In [182]:
with open("/tmp/count.json", "w") as f:
    json.dump(count_by_day, f)

In [184]:
import requests

In [185]:
path = "https://edition.cnn.com/2019/07/22/politics/robert-mueller-donald-trump-democrats-russia-investigation/index.html"
response = requests.get(path)

In [186]:
response

In [189]:
response.text[: 100]

'<!DOCTYPE html><html class="no-js"><head><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatibl'

In [197]:
import sys, traceback


def inverse(x):
    if x == 0:
        raise Exception("My check: invalid input 0")
    return 1/x

try: 
    y = inverse(0)
except Exception as e:
    #print("Error happend during inversion: ", e)
    traceback.print_exc(file=sys.stdout)
finally: 
    pass

Traceback (most recent call last):
  File "<ipython-input-197-078a6d0ca590>", line 10, in <module>
    y = inverse(0)
  File "<ipython-input-197-078a6d0ca590>", line 6, in inverse
    raise Exception("My check: invalid input 0")
Exception: My check: invalid input 0

In [237]:
import json 

class Account:
    
    account_types = ("Corporate", "Person")
    account_numbers = []
    
    def __init__(self, name, employees, account_type):
        self.name = name
        self.employees = employees
        self.amount = 0
        self.type = account_type
        self.account_number = Account.generate_account_number()
        self.account_numbers.append(self.account_number)

    def deposit(self, amount):
        if amount < 0:
            raise InvalidAmountException("Amount must be greater than 0")
        self.amount = self.amount + amount
    
    def withdraw(self, amount):
        if amount < 0 or amount > self.amount:
            raise InvalidAmountException("Amount must be greater than 0 and less than balance amount")
        self.amount = self.amount - amount
        
    @staticmethod
    def generate_account_number():
        return len(Account.account_numbers) + 1
    
    def __repr__(self):
        return json.dumps(self.__dict__)

In [239]:
account1 = Account("Siemens", 100, "Corporate")
account1.name = "Siemens - updated"
account1, account1.name

({"name": "Siemens - updated", "employees": 100, "amount": 0, "type": "Corporate", "account_number": 2},
 'Siemens - updated')

In [201]:
__name__

'__main__'

In [218]:
account1

{"name": "Siemens - updated", "employees": 100, "amount": 0}

In [240]:
account1.deposit(100)
account1.withdraw(80)
account1.amount

20

In [241]:
try: 
    account1.withdraw(100)
except InvalidAmountException as ex:
    print(ex, "Retry a different amount")
except Exception as e:
    pass

Amount must be greater than 0 and less than balance amount Retry a different amount

In [215]:
account1.__dict__

{'name': 'Siemens - updated', 'employees': 100, 'amount': 20}

In [221]:
Account.account_types

('Corporate', 'Person')

In [228]:
account1 = Account("Siemens", 100, "Corporate")
account2 = Account("Wipro", 200, "Corporate")
account1, account2

({"name": "Siemens", "employees": 100, "amount": 0, "type": "Corporate", "account_number": 1},
 {"name": "Wipro", "employees": 200, "amount": 0, "type": "Corporate", "account_number": 2})

In [226]:
Account.account_numbers

[1, 2, 3]

In [235]:
class InvalidAmountException(Exception):
    def __init__(self, message):
        super().__init__(message)

In [236]:
InvalidAmountException("Amount must be greater than 0 and less than current balance")

__main__.InvalidAmountException('Amount must be greater than 0 and less than current balance')