In [2]:
print("Hello World")

Hello World

In [3]:
import sys

In [5]:
sys.version

'3.7.4 (default, Aug 13 2019, 15:17:50) \n[Clang 4.0.1 (tags/RELEASE_401/final)]'

In [6]:
x = 12

In [7]:
type(x)

int

In [8]:
x = 12.3

In [9]:
type(x)

float

In [11]:
type(x) is int

False

In [12]:
type(x) is float

True

In [13]:
def substract(x, y):
    z = x - y
    return z

In [14]:
def is_even(x):
    if x % 2 == 0:
        z = "Even"
    else:
        z = "Odd"
    return z

In [15]:
substract(4, 6)

-2

In [16]:
substract( y = 4, x = 6)

2

In [17]:
def substract(x, y = 10):
    z = x - y
    return z

In [18]:
substract(17)

7

In [19]:
substract(17, 5)

12

In [23]:
def substract(x = 0, y = 10):
    z = x - y
    return z

In [24]:
substract(y=90)

-90

In [25]:
substract(90)

80

In [20]:
def myfunc(*x):
    print(x, type(x))

In [21]:
myfunc(1)

(1,) <class 'tuple'>

In [22]:
myfunc(1, 2, 3)

(1, 2, 3) <class 'tuple'>

In [26]:
def myfunc(**x):
    print(x, type(x))

In [29]:
myfunc(a = 2, b = "boy")

{'a': 2, 'b': 'boy'} <class 'dict'>

In [30]:
def add(x, y):
    return x + y

In [31]:
add(2, 3)

5

In [32]:
add(2, 3.5)

5.5

In [33]:
add("hello ", "world")

'hello world'

In [34]:
add(10, "world")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
10 + "world"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
def multiplier(by):
    def plier(x):
        return by * x
    return plier

In [39]:
f = multiplier(10)

In [40]:
type(f)

function

In [41]:
f(2)

20

In [42]:
def multiplier(by):
    def plier1(x):
        return x * by
    def plier2(x):
        return x / by
    return plier1, plier2

In [43]:
plier1_, plier2_ = multiplier(10)

In [44]:
plier1_(2)

20

In [45]:
plier2_(2)

0.2

In [54]:
x = [1, 5, 9, 10, 3, 45, None]
type(x)

list

In [55]:
len(x)

7

In [56]:
x[-1] is None

True

In [57]:
x = [1, 5, 9, 10, 3, 45]
x[0]

1

In [51]:
x[-1]

45

In [52]:
x[-2]

3

In [53]:
x[0:3]

[1, 5, 9]

In [58]:
x[:3]

[1, 5, 9]

In [61]:
x = [1, 5, 9, 10, 3, 45]
x[-3:-1]

[10, 3]

In [60]:
x[-3:]

[10, 3, 45]

In [62]:
x = [1, 5, 9, 10, 3, 45]
x.append(100)
x

[1, 5, 9, 10, 3, 45, 100]

In [63]:
x = [1, 5, 9, 10, 3, 45]
x.insert(2, 100)
x

[1, 5, 100, 9, 10, 3, 45]

In [64]:
x = [1, 5, 9, 10, 3, 45]
x.remove(45)
x

[1, 5, 9, 10, 3]

In [65]:
x = [1, 5, 9, 10, 3, 45]
x.remove(100)
x

ValueError: list.remove(x): x not in list

In [67]:
x = [1, 5, 45, 9, 10, 3, 45, 45]
x.remove(45)
x

[1, 5, 9, 10, 3, 45, 45]

In [68]:
x = [1, 5, 9, 10, 3, 45]
del x[2]
x

[1, 5, 10, 3, 45]

In [70]:
x = [1, 5, 9, 10, 3, 45]
45 in x, 100 in x

(True, False)

In [72]:
x = [1, 5, 9, 45, 10, 3, 45]
x.index(45)

3

In [74]:
x = [ 10, 3, 1, 5, 9, 45]
x.sort()
x

[1, 3, 5, 9, 10, 45]

In [77]:
x = [ 10, 3, 1, 5, 9, 45]
x.sort(reverse=True)
x

[45, 10, 9, 5, 3, 1]

In [76]:
x = [ 10, 3, 1, 5, 9, 45]
sorted(x), x

([1, 3, 5, 9, 10, 45], [10, 3, 1, 5, 9, 45])

In [78]:
x = [ 10, 3, 1, 5, 9, 45]
sorted(x, reverse=True), x

([45, 10, 9, 5, 3, 1], [10, 3, 1, 5, 9, 45])

In [80]:
x = [ 10, 3, 1, -5, -9, 45]
sorted(x)

[-9, -5, 1, 3, 10, 45]

In [81]:
def myabs(x):
    return x if x>0 else -x

In [82]:
x = [ 10, 3, 1, -5, -9, 45]
sorted(x, key=myabs)

[1, 3, -5, -9, 10, 45]

In [83]:
import math

In [84]:
x = [ 10, 3, 1, -5, -9, 45]
sorted(x, key=lambda x: x if x>0 else -x)

[1, 3, -5, -9, 10, 45]

In [85]:
x = "hello world"

In [86]:
len(x)

11

In [89]:
x[:5]

'hello'

In [90]:
"hello" in x

True

In [91]:
x = "hello"

In [92]:
y = "hello"

In [93]:
id(x)

4445518192

In [94]:
id(y)

4445518192

In [95]:
x is y

True

In [96]:
x == y

True

In [97]:
x = []

In [98]:
type(x)

list

In [99]:
x = list()

In [100]:
type(x)

list

In [102]:
x = [1, 2.4, 'hello']
x

[1, 2.4, 'hello']

In [105]:
s = """hello
world

"""

s

'hello\nworld\n\n'

In [106]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x

{'a': 'apple', 'b': 'banana', 'c': 'cake'}

In [107]:
type(x)

dict

In [108]:
x = dict(a = "apple", b = "banana", c = "cake")
x

{'a': 'apple', 'b': 'banana', 'c': 'cake'}

In [109]:
type(x)

dict

In [111]:
x = {1:"Sun", 2: "Mon", None: "unknown"}
x

{1: 'Sun', 2: 'Mon', None: 'unknown'}

In [112]:
x = {1:"Sun", 2: "Mon", None: None}
x

{1: 'Sun', 2: 'Mon', None: None}

In [113]:
len(x)

3

In [116]:
x = {1:"Sun", 2: "Mon", None: None, 2: "Tue"}
x

{1: 'Sun', 2: 'Tue', None: None}

In [117]:
x = {1:"Sun", 2: "Mon"}
x[3] = "Tue"
x

{1: 'Sun', 2: 'Mon', 3: 'Tue'}

In [118]:
x = {1:"Sun", 2: "Mon"}
x[2] = "Tue"
x

{1: 'Sun', 2: 'Tue'}

In [122]:
x = {"a":"Sun", "b": "Mon"}
del x["a"]
x

{'b': 'Mon'}

In [123]:
x = dict(a = "apple", b = "banana", c = "cake")
x["a"]

'apple'

In [124]:
x = dict(a = "apple", b = "banana", c = "cake")
x["d"]

KeyError: 'd'

In [125]:
x = dict(a = "apple", b = "banana", c = "cake")
"d" in x

False

In [127]:
x = dict(a = "apple", b = "banana", c = "cake")
x.get("d", "<Unknown>"), x.get("b", "<Unknown>")

('<Unknown>', 'banana')

In [128]:
x.keys()

dict_keys(['a', 'b', 'c'])

In [130]:
x = dict(a = "apple", b = "banana", c = "cake")
x[[2, 3]] = "XYZ"
x

TypeError: unhashable type: 'list'

In [131]:
x = dict(a = "apple", b = "banana", c = "cake")
x[(2, 3)] = "XYZ"
x

{'a': 'apple', 'b': 'banana', 'c': 'cake', (2, 3): 'XYZ'}