In [1]:
print("Hello World")

Hello World

In [2]:
x = 10

In [3]:
x = x + 20

In [4]:
print(x)

30

In [5]:
type(x)

int

In [6]:
x = 2.3
type(x)

float

In [7]:
x = True
type(x)

bool

In [8]:
type(x) is int

False

In [9]:
type(x) is float

False

In [10]:
type(x) is bool

True

In [11]:
x = "2.4"

In [12]:
type(x)

str

In [13]:
float(x)

2.4

In [14]:
y = float(x)

In [15]:
type(y)

float

In [16]:
y = int(x)

ValueError: invalid literal for int() with base 10: '2.4'

In [17]:
x = "15"
y = int(x)

In [20]:
x = [3, 6, 9, 10, 4, 3, 6]
type(x)

list

In [19]:
type(x)

list

In [23]:
x = list() # empty list
type(x)

list

In [25]:
x = [] # empty list
type(x)

list

In [26]:
x = [3, 6, 9, 10, 4, 3, 6]
len(x)

7

In [27]:
x[0]

3

In [28]:
x[1]

6

In [30]:
x = [3, 6, 9, 10, 4, 3, 6, 13]
x[-1]

13

In [31]:
x = [1, 2, "4", 5.6]
x

[1, 2, '4', 5.6]

In [33]:
x = [3, 6, 9, 10, 4, 3, 6, 13]
x.append(14)
x

[3, 6, 9, 10, 4, 3, 6, 13, 14]

In [34]:
x = [3, 6, 9, 10, 4, 3, 6, 13]
x.insert(0, 100)
x

[100, 3, 6, 9, 10, 4, 3, 6, 13]

In [35]:
x = [3, 6, 9, 10, 4, 3, 6, 13]
x.insert(4, 100)
x

[3, 6, 9, 10, 100, 4, 3, 6, 13]

In [36]:
x = [3, 6, 9, 10, 4, 3, 6, 13]
x.insert(-1, 100)
x

[3, 6, 9, 10, 4, 3, 6, 100, 13]

In [38]:
x = [3, 6, 9, 10, 4, 3, 6, 13]
x.remove(3)
x

[6, 9, 10, 4, 3, 6, 13]

In [39]:
x = [3, 6, 9, 10, 4, 3, 6, 13]
x.remove(23)
x

ValueError: list.remove(x): x not in list

In [40]:
x = [3, 6, 9, 10, 4, 3, 6, 13]
23 in x

False

In [41]:
x = [3, 6, 9, 10, 4, 3, 6, 13]
3 in x

True

In [42]:
x = [3, 6, 9, 10, 4, 3, 6, 13]
x.index(3)

0

In [44]:
x = [3, 6, 9, 10, 4, 3, 6, 13]
del x[1]
x

[3, 9, 10, 4, 3, 6, 13]

In [45]:
x = [3, 6, 9, 10, 4, 3, 6, 13]
x[1] = 1000
x

[3, 1000, 9, 10, 4, 3, 6, 13]

In [46]:
x = [3, 6, 9, 10, 4, 3, 6, 13]
x[0:4]

[3, 6, 9, 10]

In [47]:
x = [3, 6, 9, 10, 4, 3, 6, 13]
x[:4]

[3, 6, 9, 10]

In [48]:
x = [3, 6, 9, 10, 4, 3, 6, 13]
x[:7:2]

[3, 9, 4, 6]

In [49]:
x = [3, 6, 9, 10, 4, 3, 6, 13]
x[:100]

[3, 6, 9, 10, 4, 3, 6, 13]

In [51]:
x = [3, 6, 9, 10, 4, 3, 6, 13, 14]
x[-3:]

[6, 13, 14]

In [52]:
x = dict() # empty dictionary

In [55]:
type(x)

dict

In [53]:
x = {} # empty dictionary

In [54]:
type(x)

dict

In [56]:
x = dict(a = "apple", b = "banana", c = "cake")
x

{'a': 'apple', 'b': 'banana', 'c': 'cake'}

In [57]:
x = dict(a = "apple", b = "banana", c = "cake", c = "cat")
x

SyntaxError: keyword argument repeated (<ipython-input-57-e7745862baa7>, line 1)

In [58]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x

{'a': 'apple', 'b': 'banana', 'c': 'cake'}

In [59]:
x = {"a": "apple", "b": "banana", "c": "cake", "c": "cat"}
x

{'a': 'apple', 'b': 'banana', 'c': 'cat'}

In [61]:
x = {"a": "apple", "b": "banana", "c": "cake"}
len(x)

3

In [62]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x["a"]

'apple'

In [63]:
x.keys()

dict_keys(['a', 'b', 'c'])

In [64]:
x.values()

dict_values(['apple', 'banana', 'cake'])

In [65]:
x.items()

dict_items([('a', 'apple'), ('b', 'banana'), ('c', 'cake')])

In [66]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x["d"] = "duck"
x

{'a': 'apple', 'b': 'banana', 'c': 'cake', 'd': 'duck'}

In [70]:
x = {"a": "apple", "b": "banana", "c": "cake"}
del x["a"]
x

{'b': 'banana', 'c': 'cake'}

In [71]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x["a"] = "appricot"
x

{'a': 'appricot', 'b': 'banana', 'c': 'cake'}

In [72]:
x = {"a": "apple", "b": "banana", "c": "cake"}
"a" in x

True

In [73]:
x = {"a": "apple", "b": "banana", "c": "cake"}
"e" in x

False

In [74]:
x = set() # empty set

In [76]:
x = set([6, 1, 2, 3, 2, 5, 5])
x

{1, 2, 3, 5, 6}

In [79]:
x = set([6, 1, 2, 3, 2, 5, 5])
x.add(7)
x.add(7)
x

{1, 2, 3, 5, 6, 7}

In [80]:
x = set([6, 1, 2, 3, 2, 5, 5])
5 in x

True

In [81]:
x = set([6, 1, 2, 3, 2, 5, 5])
x.remove(5)
x

{1, 2, 3, 6}

In [82]:
x = set([6, 1, 2, 3, 2, 5, 5])
x.remove(50)
x

KeyError: 50

In [84]:
a = set([1, 2, 3])
b = set([2, 3, 4])
a, b

({1, 2, 3}, {2, 3, 4})

In [85]:
a.intersection(b)

{2, 3}

In [86]:
a - b

{1}

In [87]:
a + b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [88]:
a.union(b)

{1, 2, 3, 4}

In [89]:
b - a

{4}

In [92]:
x = set([6, 1, 2, 3, 2, 5, 5])
len(x), x

(5, {1, 2, 3, 5, 6})

In [93]:
x = (1, 5, 10)
type(x)

tuple

In [95]:
x = [1]
type(x), x

(list, [1])

In [96]:
x = (1)
type(x), x

(int, 1)

In [97]:
x = (1,)
type(x), x

(tuple, (1,))

In [98]:
x = (4, 5, 8, 10)
x[0]

4

In [99]:
x = (4, 5, 8, 10)
x.append(11)

AttributeError: 'tuple' object has no attribute 'append'

In [101]:
x = "  hello world  "

In [102]:
x.strip()

'hello world'

In [104]:
x = "hello world"
x.capitalize()

'Hello world'

In [105]:
x = "hello world"
x.upper()

'HELLO WORLD'

In [106]:
x = "hello world"
x.replace("hello", "Hi")

'Hi world'

In [107]:
x = "hello world"
x[:5]

'hello'

In [108]:
x = "hello world"
x[0] = "H"

TypeError: 'str' object does not support item assignment

In [109]:
x = "hello world"
len(x)

11

In [110]:
x = "hello world"
x.split(" ")

['hello', 'world']

In [111]:
x = ["a", "bb", "ccc"]
",".join(x)

'a,bb,ccc'

In [113]:
with open(r"/data/stocks.small.csv") as f:
    content = f.read()
    lines = content.split("\n")

In [116]:
content[:500]

'date,open,high,low,close,volume,adjclose,symbol\n2000-07-18,144.8125,144.828125,141.4375,143.0,5.06836E7,50.155473,INTC\n2000-07-20,32.93751,34.25001,32.8125,33.75,3288300.0,8.789734,BEN\n2000-07-24,64.25,67.312477,64.187523,64.75,948800.0,7.689567,APH\n2000-07-26,21.875,22.125,20.9375,20.9375,1464300.0,15.61832,SHW\n2000-07-26,42.0,42.312481,41.625,41.875,1397600.0,9.402721,STJ\n2000-07-31,33.937519,33.999986,33.75,33.875011,273400.0,5.063753,GGP\n2000-08-07,41.375038,43.0,40.812481,42.812481,2.43376E'

In [118]:
lines[:5]

['date,open,high,low,close,volume,adjclose,symbol',
 '2000-07-18,144.8125,144.828125,141.4375,143.0,5.06836E7,50.155473,INTC',
 '2000-07-20,32.93751,34.25001,32.8125,33.75,3288300.0,8.789734,BEN',
 '2000-07-24,64.25,67.312477,64.187523,64.75,948800.0,7.689567,APH',
 '2000-07-26,21.875,22.125,20.9375,20.9375,1464300.0,15.61832,SHW']

In [119]:
def print_list(x):
    print(x)

In [120]:
print_list([3, 4, 5])

[3, 4, 5]

In [121]:
def add(x, y):
    return x + y

In [122]:
add(3, 4)

7

In [123]:
add(3.5, 6.7)

10.2

In [124]:
add("hello", "world")

'helloworld'

In [125]:
add(10, "world")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [126]:
def add(a, b = 10):
    return a + b

In [127]:
add(3, 5)

8

In [128]:
add(3)

13

In [129]:
def minus(a, b = 10):
    return a - b

In [130]:
minus(40, 30)

10

In [131]:
minus(40)

30

In [132]:
minus(b = 40, a = 30)

-10

In [133]:
def print_all(*a):
    print(a)

In [134]:
print_all(1, 2, 5)

(1, 2, 5)

In [135]:
def print_all(**a):
    print(a)

In [137]:
print_all(a = "apple", b = "banana")

{'a': 'apple', 'b': 'banana'}

In [141]:
def is_even(x):
    reminder = x % 2 
    if reminder == 0:
        return "even"
    else:
        return "odd"

In [142]:
is_even(10)

'even'

In [143]:
is_even(11)

'odd'

In [144]:
x = [4, 10, 45, 12, 10]

In [145]:
for v in x:
    print(v)

4
10
45
12
10

In [148]:
x = [4, 10, 45, 12, 10]
y = []
for v in x:
    y.append(v ** 0.5)
y

[2.0,
 3.1622776601683795,
 6.708203932499369,
 3.4641016151377544,
 3.1622776601683795]

In [149]:
x = {"a": "apple", "b": "banana", "c": "cake"}
y = {}
for v in x:
    y[v] = len(x[v])
y

{'a': 5, 'b': 6, 'c': 4}

In [150]:
x = [4, 10, 45, 12, 10]
y = [v ** 0.5 for v in x]
y

[2.0,
 3.1622776601683795,
 6.708203932499369,
 3.4641016151377544,
 3.1622776601683795]

In [152]:
x = [4, 10, 45, 12, 10, 100, 1000, 200]
y = [(v, v ** 0.5) for v in x if v > 100]
y

[(1000, 31.622776601683793), (200, 14.142135623730951)]

In [155]:
x = {"a": "apple", "b": "banana", "c": "cake"}
dict([(v, len(x[v])) for v in x])

{'a': 5, 'b': 6, 'c': 4}

In [157]:
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [158]:
def is_prime(x):
    for v in range(2, x):
        if x % v == 0:
            return False
    return True

In [159]:
is_prime(10)

False

In [160]:
is_prime(3)

True

In [161]:
is_prime(11)

True

In [162]:
is_prime(2)

True

In [163]:
primes = []

v = 100
while len(primes)<10:
    if is_prime(v):
        primes.append(v)
    v = v + 1
primes

[101, 103, 107, 109, 113, 127, 131, 137, 139, 149]

In [167]:
x = [90, 3, 89, 3, 5, 10]
x.sort()
x

[3, 3, 5, 10, 89, 90]

In [170]:
x = [(90, "a"), (3, "b"), (89, "c"), (3, "d"), (5, "e"), (10, "f")]
x.sort()
x

[(3, 'b'), (3, 'd'), (5, 'e'), (10, 'f'), (89, 'c'), (90, 'a')]

In [171]:
x = [(90, "a"), (3, "b"), (89, "c"), (3, "d"), (5, "e"), (10, "f")]
x.sort(key = lambda t: t[1])
x

[(90, 'a'), (3, 'b'), (89, 'c'), (3, 'd'), (5, 'e'), (10, 'f')]

In [172]:
def extract_value(p):
    return p[1]

In [173]:
x = [(90, "a"), (3, "b"), (89, "c"), (3, "d"), (5, "e"), (10, "f")]
x.sort(key = extract_value)
x

[(90, 'a'), (3, 'b'), (89, 'c'), (3, 'd'), (5, 'e'), (10, 'f')]

In [179]:
x = [(89, "c"),(5, "e"), (90, "a"), (3, "b"), (3, "d"), (10, "f")]
x_sorted = sorted(x, key = extract_value, reverse=True) 
print("x_sorted", x_sorted)
print("x", x)

x_sorted [(10, 'f'), (5, 'e'), (3, 'd'), (89, 'c'), (3, 'b'), (90, 'a')]
x [(89, 'c'), (5, 'e'), (90, 'a'), (3, 'b'), (3, 'd'), (10, 'f')]