In [2]:
print("hello world!!!")

hello world!!!

In [4]:
x = 1

In [5]:
type(x)

int

In [6]:
x = 1.2
type(x)

float

In [7]:
x = "hello"

In [8]:
type(x)

str

In [9]:
type(x) is int

False

In [10]:
type(x) is str

True

In [11]:
x = 10

In [12]:
x = x + 20
x

30

In [18]:
x = "30"
y = int(x)
type(y)

int

In [19]:
x = [1, 5, 6, 0, -1, 4]
type(x)

list

In [20]:
x = [1, 5, 6, 0, -1, 4]
len(x)

6

In [22]:
x = [1, 5, 6, 0, -1, 4]
x[0], x[4]

(1, -1)

In [23]:
x = [1, 5, 6, 0, -1, 4]
x[-1]

4

In [24]:
x = [1, 5, 6, 0, -1, 4]
x[-2]

-1

In [26]:
x = [1, 5, 6, 0, -1, 4]
x[2:4]

[6, 0]

In [28]:
x = [1, 5, 6, 0, -1, 4, 7, 0, 3, 13]
x[-4:-2]

[7, 0]

In [29]:
x = [1, 5, 6, 0, -1, 4]
x[2:100]

[6, 0, -1, 4]

In [31]:
x = [1, 5, 6, 0, -1, 4]
x[4:2]

[]

In [32]:
x = [1, 5, 6, 0, -1, 4]
x[0:3]

[1, 5, 6]

In [33]:
x = [1, 5, 6, 0, -1, 4]
x[:3]

[1, 5, 6]

In [34]:
x = [1, 5, 6, 0, -1, 4]
x[0:10:2]

[1, 6, -1]

In [35]:
x = [1, 5, 6, 0, -1, 4]
x[::2]

[1, 6, -1]

In [36]:
x = [1, 5, 6, 0, -1, 4]
x[::-1]

[4, -1, 0, 6, 5, 1]

In [37]:
x = [1, 5, 6, 0, -1, 4]
x.append(100)
x

[1, 5, 6, 0, -1, 4, 100]

In [39]:
x = [1, 5, 6, 0, -1, 4]
x.insert(1, 100)
x

[1, 100, 5, 6, 0, -1, 4]

In [42]:
x = [1, 5, 6, 1, 0, -1, 4]
x.remove(1)
x

[5, 6, 1, 0, -1, 4]

In [43]:
x = [1, 5, 6, 1, 0, -1, 4]
1 in x

True

In [45]:
x = [1, 5, 6, 1, 0, -1, 4]
x.index(5), x.index(100)

ValueError: 100 is not in list

In [46]:
x = [1, 5, 6, 1, 0, -1, 4]
del x[3]
x

[1, 5, 6, 0, -1, 4]

In [47]:
x = [1, 5, 6, 1, 0, -1, 4]
x[4] = 100
x

[1, 5, 6, 1, 100, -1, 4]

In [48]:
x = [1, "four", 3.4]
x

[1, 'four', 3.4]

In [49]:
x = list()

In [50]:
x = []

In [54]:
x = [1, 5, 6, 1, 0, -1, 4]
x.sort(reverse=True)
x

[6, 5, 4, 1, 1, 0, -1]

In [56]:
x = [1, 5, 6, 1, 0, -1, 4]
y = sorted(x, key = lambda v: v)
x, y

([1, 5, 6, 1, 0, -1, 4], [-1, 0, 1, 1, 4, 5, 6])

In [57]:
x = dict(a = "apple", b = "banana", c = "cake")
x

{'a': 'apple', 'b': 'banana', 'c': 'cake'}

In [59]:
x = {"a": "apple", "b": "banana", "c": "cake", "d e": "duck"}
x

{'a': 'apple', 'b': 'banana', 'c': 'cake', 'd e': 'duck'}

In [60]:
x = dict(a = "apple", b = "banana", c = "cake")
len(x)

3

In [61]:
x = dict(a = "apple", b = "banana", c = "cake", d = None)
len(x)

4

In [63]:
x = {"a": "apple", "b": "banana", "c": "cake", None: "duck"}
x

{'a': 'apple', 'b': 'banana', 'c': 'cake', None: 'duck'}

In [64]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x["a"]

'apple'

In [65]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x["e"]

KeyError: 'e'

In [67]:
x = {"a": "apple", "b": "banana", "c": "cake"}
"e" in x, "a" in x

(False, True)

In [69]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x.get("a"), x.get("e"), x.get("e", "unknown")

('apple', None, 'unknown')

In [70]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x.keys()

dict_keys(['a', 'b', 'c'])

In [71]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x.values()

dict_values(['apple', 'banana', 'cake'])

In [72]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x.items()

dict_items([('a', 'apple'), ('b', 'banana'), ('c', 'cake')])

In [73]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x["d"] = "duck"
x

{'a': 'apple', 'b': 'banana', 'c': 'cake', 'd': 'duck'}

In [74]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x["d"] = "duck"
del x["a"]
x

{'b': 'banana', 'c': 'cake', 'd': 'duck'}

In [75]:
x = {"a": "apple", "b": "banana", "c": "cake"}
x["a"] = "apollo"
x

{'a': 'apollo', 'b': 'banana', 'c': 'cake'}

In [76]:
x = set([1, 6, 6, 6, 9])
x

{1, 6, 9}

In [77]:
x = {1, 6, 6, 6, 9}
x

{1, 6, 9}

In [78]:
x = {}
type(x)

dict

In [81]:
x = set()
x.add(3)
type(x), x

(set, {3})

In [83]:
x = set()
x.add(6)
x.add(1)
x.add(6)
x.add(7)
x.add(8)
list(x)

[8, 1, 6, 7]

In [85]:
x = tuple([1, 5, -1, 8])
x

(1, 5, -1, 8)

In [86]:
x = tuple([1, 5, -1, 8])
x.add(4)

AttributeError: 'tuple' object has no attribute 'add'

In [89]:
x = (1, 5, -1, 8)
type(x), x[0], x[-2]

(tuple, 1, -1)

In [90]:
list(x)

[1, 5, -1, 8]

In [95]:
with open(r"/data/stocks.small.csv") as f:
    content = f.read()

In [96]:
content.split("\n")[:5]

['date,open,high,low,close,volume,adjclose,symbol',
 '2000-07-18,144.8125,144.828125,141.4375,143.0,5.06836E7,50.155473,INTC',
 '2000-07-20,32.93751,34.25001,32.8125,33.75,3288300.0,8.789734,BEN',
 '2000-07-24,64.25,67.312477,64.187523,64.75,948800.0,7.689567,APH',
 '2000-07-26,21.875,22.125,20.9375,20.9375,1464300.0,15.61832,SHW']

In [100]:
x = "hello world, welcome to the class"

In [101]:
len(x)

33

In [102]:
x.split(" ")

['hello', 'world,', 'welcome', 'to', 'the', 'class']

In [104]:
x.upper().lower()

'hello world, welcome to the class'