In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/data/credit-default.csv")

In [3]:
df

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_length,installment_rate,personal_status,other_debtors,...,property,age,installment_plan,housing,existing_credits,default,dependents,telephone,foreign_worker,job
0,< 0 DM,6,critical,radio/tv,1169,unknown,> 7 yrs,4,single male,none,...,real estate,67,none,own,2,1,1,yes,yes,skilled employee
1,1 - 200 DM,48,repaid,radio/tv,5951,< 100 DM,1 - 4 yrs,2,female,none,...,real estate,22,none,own,1,2,1,none,yes,skilled employee
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 yrs,2,single male,none,...,real estate,49,none,own,1,1,2,none,yes,unskilled resident
3,< 0 DM,42,repaid,furniture,7882,< 100 DM,4 - 7 yrs,2,single male,guarantor,...,building society savings,45,none,for free,1,1,2,none,yes,skilled employee
4,< 0 DM,24,delayed,car (new),4870,< 100 DM,1 - 4 yrs,3,single male,none,...,unknown/none,53,none,for free,2,2,2,none,yes,skilled employee
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,unknown,12,repaid,furniture,1736,< 100 DM,4 - 7 yrs,3,female,none,...,real estate,31,none,own,1,1,1,none,yes,unskilled resident
996,< 0 DM,30,repaid,car (used),3857,< 100 DM,1 - 4 yrs,4,divorced male,none,...,building society savings,40,none,own,1,1,1,yes,yes,mangement self-employed
997,unknown,12,repaid,radio/tv,804,< 100 DM,> 7 yrs,4,single male,none,...,other,38,none,own,1,1,1,none,yes,skilled employee
998,< 0 DM,45,repaid,radio/tv,1845,< 100 DM,1 - 4 yrs,4,single male,none,...,unknown/none,23,none,for free,1,2,1,yes,yes,skilled employee
999,1 - 200 DM,45,critical,car (used),4576,101 - 500 DM,unemployed,3,single male,none,...,other,27,none,own,1,1,1,none,yes,skilled employee

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   object
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   object
 3   purpose               1000 non-null   object
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   object
 6   employment_length     1000 non-null   object
 7   installment_rate      1000 non-null   int64
 8   personal_status       1000 non-null   object
 9   other_debtors         1000 non-null   object
 10  residence_history     1000 non-null   int64
 11  property              1000 non-null   object
 12  age                   1000 non-null   int64
 13  installment_plan      1000 non-null   object
 14  housing               1000 non-null   object
 15  existing_credits      1000 non-null   int64
 16  default               1000 non-null   int64
 17  dependents            1000 non-null   int64
 18  telephone             1000 non-null   object
 19  foreign_worker        1000 non-null   object
 20  job                   1000 non-null   object
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [6]:
df.default.value_counts()

1    700
2    300
Name: default, dtype: int64

In [7]:
df.default.value_counts()/len(df)

1    0.7
2    0.3
Name: default, dtype: float64

In [ ]:
1 -> Negative Sample (0) - > customer is not default
2 -> Positive Sample (1) -> customer is default (not able to pay back the loan)

In [ ]:
P -> 76
N -> 45

In [13]:
p1 = 76 / (76 + 45)
p1

0.628099173553719

In [ ]:
p0 + p1 = 1

gini = po*(1-po) + p1* (1-p1) = (1- p1) * p1 + p1*(1-p1) = 2 * p1 * (1-p1) = 2 * p1 * p0

In [14]:
2 * p1 * (1-p1)

0.4671812034697083

In [ ]:
P -> 11
N -> 32

In [15]:
p1 = 32/(32 + 11)
p1

0.7441860465116279

In [16]:
2 * p1 * (1-p1)

0.3807463493780422

In [ ]:
P -> 9
N -> 1

In [10]:
9/(9+1)

0.9

In [11]:
p-> 4
n -> 6

SyntaxError: invalid syntax (<ipython-input-11-d016f2221685>, line 1)

In [12]:
6/(4+6)

0.6

In [17]:
p1 = 214/700

In [18]:
2 * p1 * (1-p1)

0.4245061224489796

In [19]:
(.488 + .221)/2

0.3545

In [20]:
.424 - .3545

0.0695

In [22]:
(424 * .488 + 276 * .221)/ 700 # weighted gini avg

0.3827257142857143

In [24]:
 0.4245061224489796 - 0.3827257142857143 #information gain

0.04178040816326534

In [25]:
# sum(pi * log(pi)) -> Entropy
# sum(pi * (1-pi))  -> Gini = sum(pi) - sum (pi * pi) = 1 - sum(pi*pi) = 1 - sum(pi * pj) where i != j

In [ ]:
# objective of the tree is find the condition by which it maximizes the information gains

In [ ]:
# stump -> a condition only on one feature, not more than one.

In [26]:
# purpose of loan - P1, P2, P3 (categorical)
# age - 20, 60 (cont)

In [27]:
# candidates for a stump
# for each candidate find the information gain
# select the condition which gives the max information gain 
purpose = p1  
purpose = p2
purpose = p3

age < 25 (percentile 10)
age < 30 (percentile 20)
age < 37 (percentile 30)
...

SyntaxError: invalid syntax (<ipython-input-27-e6863e5c2cb0>, line 6)

In [28]:
df.shape

(1000, 21)

In [29]:
df.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_length,installment_rate,personal_status,other_debtors,...,property,age,installment_plan,housing,existing_credits,default,dependents,telephone,foreign_worker,job
0,< 0 DM,6,critical,radio/tv,1169,unknown,> 7 yrs,4,single male,none,...,real estate,67,none,own,2,1,1,yes,yes,skilled employee
1,1 - 200 DM,48,repaid,radio/tv,5951,< 100 DM,1 - 4 yrs,2,female,none,...,real estate,22,none,own,1,2,1,none,yes,skilled employee
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 yrs,2,single male,none,...,real estate,49,none,own,1,1,2,none,yes,unskilled resident
3,< 0 DM,42,repaid,furniture,7882,< 100 DM,4 - 7 yrs,2,single male,guarantor,...,building society savings,45,none,for free,1,1,2,none,yes,skilled employee
4,< 0 DM,24,delayed,car (new),4870,< 100 DM,1 - 4 yrs,3,single male,none,...,unknown/none,53,none,for free,2,2,2,none,yes,skilled employee

In [30]:
g1 = df[df.purpose == "radio/tv"]
g2 =  df[df.purpose != "radio/tv"]

In [31]:
len(g1), len(g2)

(280, 720)

In [33]:
g1.default.value_counts()/len(g1)

1    0.778571
2    0.221429
Name: default, dtype: float64

In [35]:
2 * 0.778571 * 0.221429

0.344796395918

In [34]:
g2.default.value_counts()/len(g2)

1    0.669444
2    0.330556
Name: default, dtype: float64

In [36]:
2 * .669444 * 0.330556

0.44257746172800005

In [37]:
df.default.value_counts()/len(df)

1    0.7
2    0.3
Name: default, dtype: float64

In [38]:
gini_root = 2 * .7 * .3
gini_root

0.42

In [40]:
0.42 - (280 * 0.344796395918 + 720 * 0.44257746172800005)/ (280+720) 
# information gain using purpose = "Radio/tv" as condition

0.004801236698799893